@keyframes slideInBottom {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.container {
  display: flex;
  justify-content: center;
}
.detailsWrapper {
  display: flex;
  flex-direction: column;
  width: 88%;
  max-width: 1300px;
  text-align: center;
  align-items: center;
}
.detailsWrapper h1 {
  margin-bottom: 50px;
  line-height: 40px;
  max-width: 800px;
}
.content {
  display: flex;
  cursor: pointer;
  border-bottom: 1px solid #f7f7f7;
  margin-bottom: 16px 0;
}
.contentWrapper {
  width: 50%;
}
.imageWrapper {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 60px;
}
.featureHovered {
  transform: translateY(-10%);
}

.imageWrapper img {
  width: 100%;
  max-height: 565px;
  height: auto;
  border-radius: 10px;
  animation: slideInBottom 0.3s ease-out forwards;
  animation-fill-mode: forwards; /* Ensure final position is kept */
  opacity: 0; /* Start with opacity 0 */
}
.dataWrapper {
  display: flex;
  align-items: center;
}
.textWrapper {
  text-align: left;
  width: 100%;
  border-bottom: 1px solid #f7f7f7;
}
#free {
  color: var(--button-bg);
  font-size: 16px;
  font-weight: 600;
}
#free img {
  width: "7px";
  height: "11px";
  margin-left: "4px";
}
.content img {
  width: 100%;
  max-height: 565px;
}
.textWrapper h3 {
  color: #050607;
  font-size: 26px;
  font-weight: 700;
  line-height: 40px;
}
.textWrapper p {
  color: #333333;
  line-height: 28px;
  font-weight: 400;
  font-size: 18px;
}
.feature {
  position: absolute;
  padding: 15px 20px 15px 15px;
  z-index: 2;
  overflow: hidden;
  justify-content: center;
  align-items: flex-start;
  right: 34px;
  border: 1px solid #e5e7eb;
  background-color: #e8e8ed;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    rgba(232, 232, 237, 1) 75%,
    rgba(255, 255, 255, 1) 100%
  );
  border-style: solid;
}
.feature span {
  /* margin: 0;
  padding: 0; */
  font-size: 18px;
  font-weight: 600;
}
.tick {
  margin-right: 15px;
}
@media (max-width: 990px) {
  .displayNone {
    display: none;
  }
  .detailsWrapper {
    display: flex;
    flex-direction: column;
    width: 88%;

    text-align: center;
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: unset;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #f7f7f7;
  }
  .content img {
    width: 340px;
    height: auto;
    max-height: 320px;
    margin-top: 30px;
    border-radius: 10px;
  }
  .textWrapper {
    text-align: left;
    width: 100%;
  }
  .feature {
    padding: 4px 10px 4px 10px;
    border-radius: 5px;
    right: -10px;
  }
  .feature span {
    font-size: 12px;
    font-weight: 600;
  }
  .tick {
    margin-right: 10px;
  }
}
@media (max-width: 640px) {
  .textWrapper h3 {
    font-size: 24px;
  }
}
