.container{
    display: flex;
    justify-content: center;
}
.detailsWrapper{
    display: flex;
    flex-direction: column;
    width: 88%;
    background-color: aqua;
    text-align: center;
}
.contentWrapper{

}
@media (max-width: 920px) {
    .contentWrapper{
display: flex;
flex-direction: column;
    }
    .content{
    display: flex;
    flex-direction: column;
    }
    }