.container {
  display: flex;
  justify-content: center;
}
.detailsWrapper {
  display: flex;
  flex-direction: column;
  width: 88%;
  max-width: 1300px;
  text-align: center;
  align-items: center;
}
.detailsWrapper h1 {
  margin-bottom: 50px;
  line-height: 40px;
  max-width: 800px;
}
.content {
  display: flex;
  cursor: pointer;
  border-bottom: 1px solid #f7f7f7;
  margin-bottom: 16px 0;
}
.contentWrapper {
  width: 55%;
}
.imageWrapper {
  width: 45%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
}
.imageWrapper img {
  width: 100%;
  max-height: 565px;
  height: 565px;
  border-radius: 10px;
}
.dataWrapper {
  display: flex;
  align-items: center;
}
.textWrapper {
  text-align: left;
  width: 100%;
  border-bottom: 1px solid #f7f7f7;
}
#free {
  color: var(--button-bg);
  font-size: 16px;
  font-weight: 600;
}
.content img {
  width: 100%;
  max-height: 565px;
}
.textWrapper h3 {
  color: #050607;
  font-size: 26px;
  font-weight: 700;
  line-height: 40px;
}
.textWrapper p {
  color: #333333;
  line-height: 28px;
  font-weight: 400;
  font-size: 18px;
}
@media (max-width: 990px) {
  .displayNone {
    display: none;
  }
  .detailsWrapper {
    display: flex;
    flex-direction: column;
    width: 88%;

    text-align: center;
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: unset;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #f7f7f7;
  }
  .content img {
    width: 340px;
    height: auto;
    max-height: 320px;
    margin-top: 30px;
    border-radius: 10px;
  }
  .textWrapper {
    text-align: left;
    width: 100%;
  }
}
@media (max-width: 640px) {
  .textWrapper h3 {
    font-size: 24px;
  }
}
