.container {
  padding: 40px;
  display: flex;
  justify-content: space-between;
}
.details {
  flex: 5.5;
  padding-right: 40px;
  text-align: left;
}
.details h2 {
  padding-bottom: 0px 0px 40px;

  margin: 0;
}
.details ul {
  list-style-type: none;
  padding-left: 0;
}
.details li {
  display: flex;
  align-items: baseline;
  gap: 8px;
}
.details p {
  padding-left: 10px;
  line-height: 28px;
  font-size: 18px;
  font-weight: 400;
  color: #333;
}
.imageContainer {
  flex: 4.5;
  display: flex;
  justify-content: center; /* Center the image if needed */
  align-items: flex-start;
}

.imageContainer img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 1020px) {
  .container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .imageContainer {
    order: -1;
    justify-content: flex-start;
    margin-bottom: 30px;
  }
  .imageContainer img {
    width: 460px;
  }
}

@media (max-width: 640px) {
  .details p {
    font-size: 16px;
  }
}
