.popup {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 400px;
  max-height: 84vh;

  color: #fff;
  border-radius: 15px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;
  height: 100%;
  font-family: system-ui, "Segoe UI";
}

/* .open {
  transform: translateX(0);
} */

.popupContent {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.closeButton {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  height: 80px;
  min-height: 80px;
  z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.footer button {
  background: none;
  border: none;
  color: #1a1a1a;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blueColor {
  color: #2e72f6 !important;
}
.footer button img {
  margin-bottom: 3px;
}
