:root {
  --dark-bg: #020a19;
  --secondary-bg: #1a1c2b;
  --button-bg: #dd0735;
  --button-background-bg:#bb022a;
  --text-color: #fff;
  --placeholder-color: #c7c0c0;
  --chat-bg: #2e72f6;
}
/* .App {
  overflow-x: hidden;
} */
input:focus {
  outline: none;
}
.no-scroll {
  overflow: hidden;
}
@media (min-width: 640px) {
  h1 {
    line-height: 40px;
    font-weight: 700;
    font-size: 40px;
  }
  h2 {
    line-height: 40px;
    font-weight: 700;
    font-size: 28px;
  }
}
@media (max-width: 640px) {
  h1 {
    line-height: 40px;
    font-weight: 700;
    font-size: 32px;
  }
  h2 {
    line-height: 26px;
    font-weight: 700;
    font-size: 20px;
  }
}
