.fullContent {
  height: calc(100% - 80px);
 
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #fff;
}

.header {
  display: flex;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: var(--chat-bg);
  height: 64px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  min-height: 48px;
  font-size: 18px;
  color: #fff;
}
.contentContainer {

  overflow-y: scroll;
  padding: 20px 20px 0px 20px;
  height: calc(100% - 64px);
}

.subHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  border-radius: 8px; 
}

.subHeading h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 0;
  color: #000;
}

.subHeading p {
  margin: 4px 0 0;
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.imageContainer {
  display: flex;
  align-items: center;
}

.circleImage {
  width: 36px; /* Adjust size as needed */
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.circleImage:hover {
  opacity: 1;
}
.circleImage:not(:first-child) {
  margin-left: -7px; /* Adjust this value to control overlap */
}
