.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0px;
}
.innerContainer {
  width: 88%;
  max-width: 1300px;
  text-align: center;
}
.innerContainer h1 {
  margin-bottom: 60px;
  font-size: 40px;
  font-weight: 700;
}

/* imageGrid.module.css */

.gridContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.imageContainer {
  overflow: hidden;
  border-radius: 8px;
  padding: 0 10px;
}

.imageContainer img {
  width: 100%;
  height: auto;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 50px;
  }
  .imageContainer {
    padding: 0 10px;
  }
}

@media (max-width: 760px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 0px;
  }
  .imageContainer {
    padding: 0 20px;
  }
}
